{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Charity: how social are you?
{% endblock %}

{% block content %}

    <div>
        <img src ="{% static image1 %}" width="300"/>
        <img src ="{% static image2 %}" width="300"/>
    </div>

    <div>You have an amount of total : {{player.endowment}}</div>
    <div>
        How much do you want to donate to charity A: {% formfield player.donationA %} and to charity B: {% formfield player.donationB %}
    </div>
{% next_button %}

{% endblock %}
