{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction for the awesome GUESS GAME
{% endblock %}

{% block content %}
    <div>
        <ul>
            <li> You have an endowment of {{Constants.endowment}} points. </li>
            <li> The computer generates a number between {{Constants.minguess}} and {{Constants.maxguess}}. </li>
            <li> You have to guess this number. </li>
            <li> The closer is your guess the more you earn. </li>
        </ul>
    </div>
    {% next_button %}

{% endblock %}
